.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mt-3 {
    margin-top: 1.5rem;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.filter-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.filter-item {
    margin-bottom: 20px;
}

.filter-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-item select,
.checkbox-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.house-list {
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.house-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
}

.house-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-body h5 {
    margin: 0 0 10px;
}

.btn-view-detail {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #dc3545;
    text-decoration: none;
    border-radius: 5px;
}

.btn-view-detail:hover {
    background-color: #a71d2a;
}


.container-body {
    scrollbar-width: thin;
    scrollbar-color: #d6d6d6 transparent;
}

    .container-body::-webkit-scrollbar {
        width: 8px;
    }

    .container-body::-webkit-scrollbar-thumb {
        background-color: #d6d6d6;
        border-radius: 10px;
    }
